#heading {
  border: 1px solid black;
  width: fit-content;
  margin: auto;
}
div {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;

  margin: auto;
  margin-top: 20px;
}
div button {
  width: 50%;
}
#resultContainer {
  border: 2px solid black;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  text-align: center;
  overflow: hidden;
}
